<!DOCTYPE html>
<html>
  <head>
    <title>InstagramCloneApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
  </head>

  <body style="background:#F2F2F2;" class="container">

    <nav class="navbar navbar-default"  style ="height:77px; background:white;">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
            <span class="sr-only">Blog</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <i class="fab fa-instagram fa-2x">
             InstagramClone
            </i></a>
        </div>
        <div id="gnavi" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/pictures">
              <i class="fas fa-th fa-2x"></i>
            </a></li>
            <li>
              <a href="/pictures/new">
                <i class="far fa-plus-square fa-2x"></i>
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
              <li class="login_tag">
                <%= link_to user_path(current_user.id) do %>
                  <i class="far fa-user fa-2x"></i>
                <% end %>
              </li>
              <li class="login_tag">
                <%= link_to session_path(current_user.id), method: :delete do %>
                  <i class="fas fa-sign-out-alt fa-2x">Logout</i>
                <% end %>
              </li>
            <% else %>
              <li class="login_tag"><%= link_to "Sign up", new_user_path %></li>
              <li class="login_tag"><%= link_to "Login", new_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    
    
    <%= yield %>
  
    <footer class="text-center">
        <a href="/contacts/new">
          <i class="fas fa-question-circle fa-2x">Contact</i>
        </a>
    </footer>
  </body>

</html>
